<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Feeley Tour Cup" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-brand">
        <%= link_to "ðŸŒï¸ The Feeley Tour Cup", root_path %>
      </div>
      <div class="nav-links">
        <% if user_signed_in? %>
          <%= link_to "My Picks", picks_path %>
          <%= link_to "Standings", standings_path %>
          <% if current_user.admin? %>
            <%= link_to "Admin", admin_root_path %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
          <%= link_to "Register", new_user_registration_path %>
        <% end %>
      </div>
    </nav>

    <main class="container">
      <% if notice %>
        <div class="flash flash-notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="flash flash-alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
